@media (max-width: 991px) {
    .promo {
        min-height: 600px;
    }
    .header {
        padding:0 10px;
    }
    .promo__wrapper {
        margin-top: 45px;
        align-items: center;
    }
    .promo__icons {
        margin-top: 45px;
    }
}
@media (max-width: 767px) {
    .header{
        &__logo {
            width: 180px;
        }
        &__Official {
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    .button {
        width: 140px;
    }
}
    .promo {
        background-position: 10%;
        &__header {
            font-size: 36px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 20px;
        }
    }
    .advantages {
        padding: 50px 0 60px 0;
        &__wrapper {
            margin-top: 40px;
        }
        &__item {
            max-width: 182px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .consultation {
        padding: 70px 0 62px 35px;
        min-height: 600px;
        .title {
            font-size: 30px;
        }
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
        .slick-dots {
            display: none;
            li{
                display: none;
            }
        }
    }
    .catalog {
        padding-bottom: 50px;
        .title {
            font-size: 27px;
        }
        &__tabs {
            margin-top: 50px;
        }
        &__content {
            margin: 45px;
        }
    }
    .reviews {
        .title {
            font-size: 28px;
        }
        &__item {
            margin: 40px 0 40px 10px;
            img {
                margin-top: 15px;
            }
        }
        &__descr {
            margin-left: 40px;
        }
        &__name {
            font-size: 15px;
        }
        &__stats {
            font-size: 12px;
        }
        &__comment {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            padding: 15px 45px 15px 45px;
            width: 365px;
            height: 165px;
            left: 51%;
            transform: translateX(0);
        }
        &__addr {
            font-size: 17px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 17px;
            margin-bottom: 20px;
        }
        &__social {
            img {
                width: 45px;
            }
        }
    }
}
@media (max-width: 575px) {
    .promo {
        padding: 5px 0 93px 0;
        .header {
            &__logo {
                img {
                    padding-top: 12px;
                    width: 90%;
                }
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 10px;
            }
            .button {
                width: 125px;
                font-size: 11px;
            }
                 }
            &__header {
                font-size: 22px;
            }
            &__subheader {
                margin-top: 0px;
                font-size: 16px;
                text-align: center;
            }
            &__icons {
                width: 300px;
            }
            &__icon {
                font-size: 12px;
            }      
    }
    .advantages {
        padding: 30px 0 60px 0;
        .title {
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 15px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            max-width: 90%;
        }
    }
}