.reviews {
    .title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__item {
        margin: 60px 0;
        display: flex;
        img {
            width: 169px;
            height: 169px;
        }
    }
    &__descr {
        margin-left: 60px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__stats {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__comment {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #0D0D0D;
    }
}


