@import "../libs/bootstrap-reboot.min";
@import "../libs/font";
@import "../libs/slick";

@import "../base/variables";
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
} 
@import './promo'; 
@import './header';
@import './buttons';
@import './advantages';
@import './titles';
@import '../base/media';
@import './consultation';
@import './forms';
@import './carousel';
@import './catalog';
@import './reviews';
@import './footer';
@import './modal';
@import './pageup';